{
  "openapi": "3.1.0",
  "info": {
    "title": "Mitra Indogrosir PPOB API",
    "description": "OpenAPI reverse-engineered dari APK Mitra Indogrosir v8.21.1, string extraction `libapp.so`, request log lokal, sampel response produksi, dan implementasi repo `kasir`.",
    "version": "3.0.0",
    "contact": {
      "name": "Mitra Indogrosir",
      "url": "https://mitraindogrosir.co.id"
    }
  },
  "servers": [
    {
      "url": "https://v2.mitraindogrosir.co.id/api",
      "description": "Production API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token diperoleh dari login via WhatsApp OTP"
      }
    },
    "schemas": {
      "DetailMember": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "TANTI YANA SARI (DAHLIA LAUNDRY) #"
          },
          "is_omi": {
            "type": "integer",
            "example": 0
          },
          "store_name": {
            "type": "string",
            "example": "CAHAYA513 MM"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "ERROR"
          },
          "errorCode": {
            "type": "string",
            "example": "VL001"
          },
          "errorMessage": {
            "type": "string",
            "example": "Inputan tidak sesuai"
          },
          "errors": {
            "type": "object",
            "description": "Validation errors per field",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "device_id": [
                "The device_id field is required."
              ]
            }
          }
        },
        "required": [
          "message",
          "errorCode",
          "errorMessage"
        ]
      },
      "UnauthenticatedResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Unauthenticated."
          },
          "errorCode": {
            "type": "string",
            "example": "EXT"
          },
          "errorMessage": {
            "type": "string",
            "example": "Unauthenticated."
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          }
        }
      },
      "OtpRequestBody": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "Nomor WhatsApp terdaftar",
            "example": "08123456789"
          }
        },
        "required": [
          "phone_number"
        ]
      },
      "OtpCheckBody": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string"
          },
          "otp": {
            "type": "string",
            "description": "Kode OTP dari WhatsApp"
          }
        },
        "required": [
          "phone_number",
          "otp"
        ]
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "access_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "refresh_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "flag_member": {
            "type": "string",
            "example": "MM"
          },
          "detail_member": {
            "$ref": "#/components/schemas/DetailMember"
          }
        },
        "required": [
          "message",
          "access_token",
          "refresh_token"
        ]
      },
      "MenuSaldoResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "flag_member": {
            "type": "string",
            "example": "MM"
          },
          "detail_member": {
            "$ref": "#/components/schemas/DetailMember"
          },
          "saldo": {
            "type": "number",
            "description": "Saldo deposit mitra (float)",
            "example": 782755.25
          },
          "menu": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "Payment Point"
                },
                "list_menu": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "group": {
                        "type": "string",
                        "example": "E-Commerce (Belanja Online)"
                      },
                      "image_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "path_icon": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "promo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "string",
                  "format": "uri"
                },
                "periode_start": {
                  "type": "string"
                },
                "periode_end": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "encrypted_id": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "status_product": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product": {
                  "type": "string",
                  "example": "PLN"
                },
                "is_trouble": {
                  "type": "integer",
                  "example": 0
                }
              }
            }
          },
          "count_inbox": {
            "type": "string",
            "example": "2124"
          },
          "version": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string",
                "example": "7.3"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "example": "https://play.google.com/..."
              }
            }
          }
        },
        "required": [
          "message",
          "saldo"
        ]
      },
      "PlnDenomResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "pln": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 17
                },
                "denom": {
                  "type": "string",
                  "description": "Denominasi sebagai string",
                  "example": "20000.00"
                }
              }
            }
          }
        },
        "required": [
          "message",
          "pln"
        ]
      },
      "PlnInquiryRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string",
            "description": "Device identifier"
          },
          "customer_id": {
            "type": "string",
            "description": "Nomor meter PLN (11 digit) atau ID pelanggan/IDPEL (12 digit)",
            "example": "45094614059"
          },
          "payment_code": {
            "type": "string",
            "description": "Sama dengan customer_id (kirim nomor yang sama). Bisa No. Meter atau IDPEL, API akan resolve otomatis.",
            "example": "45094614059"
          },
          "flag_id": {
            "type": "string",
            "description": "Flag identifier: '0' untuk token/prepaid, '1' untuk tagihan/postpaid",
            "enum": ["0", "1"],
            "example": "0"
          },
          "amount": {
            "type": "number",
            "description": "Nominal token yang dipilih (untuk prepaid). Gunakan 0 untuk postpaid.",
            "example": 20000
          }
        },
        "required": [
          "device_id",
          "customer_id",
          "payment_code",
          "flag_id",
          "amount"
        ]
      },
      "PlnInquiryResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "inquiry_id": {
                "type": "string"
              },
              "customer_id": {
                "type": "string"
              },
              "customer_name": {
                "type": "string"
              },
              "meter_number": {
                "type": "string"
              },
              "tariff": {
                "type": "string"
              },
              "power": {
                "type": "string"
              },
              "admin_fee": {
                "type": "number"
              },
              "amount": {
                "type": "number"
              },
              "total_amount": {
                "type": "number"
              },
              "period": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "PlnPaymentRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string"
          },
          "inquiry_id": {
            "type": "string",
            "description": "ID dari hasil inquiry"
          },
          "customer_id": {
            "type": "string"
          },
          "product_code": {
            "type": "string"
          },
          "payment_code": {
            "type": "string"
          }
        },
        "required": [
          "device_id",
          "inquiry_id",
          "customer_id",
          "product_code"
        ]
      },
      "PlnPaymentResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "trx_id": {
                "type": "string"
              },
              "ref_id": {
                "type": "string"
              },
              "customer_id": {
                "type": "string"
              },
              "customer_name": {
                "type": "string"
              },
              "serial_number": {
                "type": "string",
                "description": "Nomor seri / token PLN"
              },
              "token_number": {
                "type": "string",
                "description": "Token PLN (untuk prepaid)"
              },
              "amount": {
                "type": "number"
              },
              "admin_fee": {
                "type": "number"
              },
              "total_amount": {
                "type": "number"
              },
              "selling_price": {
                "type": "number"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "PdamProductResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "list_product": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 168
                },
                "plu": {
                  "type": "string",
                  "example": "123000858"
                },
                "merchant": {
                  "type": "string",
                  "example": "AETRA Tangerang"
                },
                "igr_desc": {
                  "type": "string",
                  "example": "PDAM Aetra Tangerang"
                }
              }
            }
          }
        },
        "required": [
          "message",
          "list_product"
        ]
      },
      "PdamInquiryRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string"
          },
          "product_id": {
            "type": "integer",
            "description": "ID produk PDAM dari get-product"
          },
          "customer_id": {
            "type": "string",
            "description": "Nomor pelanggan PDAM"
          },
          "payment_code": {
            "type": "string",
            "description": "Kode pembayaran"
          }
        },
        "required": [
          "device_id",
          "product_id",
          "customer_id",
          "payment_code"
        ]
      },
      "PdamInquiryResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "inquiry_id": {
                "type": "string"
              },
              "customer_id": {
                "type": "string"
              },
              "customer_name": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "admin_fee": {
                "type": "number"
              },
              "total_amount": {
                "type": "number"
              },
              "period": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "BpjsInquiryRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string",
            "description": "Nomor peserta BPJS"
          },
          "phone_number": {
            "type": "string",
            "description": "Nomor telepon peserta"
          },
          "payment_code": {
            "type": "string",
            "description": "Kode pembayaran"
          },
          "type": {
            "type": "string",
            "description": "Tipe BPJS"
          },
          "period": {
            "type": "string",
            "description": "Periode pembayaran (bulan)"
          }
        },
        "required": [
          "device_id",
          "customer_id",
          "phone_number",
          "payment_code",
          "type",
          "period"
        ]
      },
      "BpjsInquiryResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "inquiry_id": {
                "type": "string"
              },
              "customer_id": {
                "type": "string"
              },
              "customer_name": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "admin_fee": {
                "type": "number"
              },
              "total_amount": {
                "type": "number"
              },
              "period": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "PulsaProvidersResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "Encrypted provider UID",
                  "example": "eyJ..."
                },
                "provider": {
                  "type": "string",
                  "example": "XL"
                },
                "image": {
                  "type": "string",
                  "format": "uri",
                  "example": "http://v2.mitraindogrosir.co.id/images/logo_providers/XL.png"
                }
              }
            }
          }
        },
        "required": [
          "message",
          "providers"
        ]
      },
      "PulsaPriceListResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "pulsa_options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pulsa_product_id": {
                  "type": "integer",
                  "example": 315
                },
                "plu": {
                  "type": "string",
                  "example": "222900691"
                },
                "provider": {
                  "type": "string",
                  "example": "XL"
                },
                "type": {
                  "type": "string",
                  "example": "PULSA"
                },
                "description": {
                  "type": "string",
                  "example": "XL/AXIS VELECTRIC 5.000,- 7HARI BTKP PCS"
                },
                "product_price": {
                  "type": "integer",
                  "description": "Harga jual mitra (integer)",
                  "example": 6100
                },
                "member_price": {
                  "type": "integer",
                  "description": "Harga member (integer)",
                  "example": 7000
                },
                "base_price": {
                  "type": "string",
                  "description": "Harga dasar (string)",
                  "example": "5283.00"
                }
              }
            }
          }
        },
        "required": [
          "message",
          "pulsa_options"
        ]
      },
      "DataPriceListResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "data_options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pulsa_product_id": {
                  "type": "integer",
                  "example": 1021
                },
                "plu": {
                  "type": "string",
                  "example": "222931771"
                },
                "provider": {
                  "type": "string",
                  "example": "XL"
                },
                "type": {
                  "type": "string",
                  "example": "DATA"
                },
                "description": {
                  "type": "string",
                  "example": "XL PAKET DATA 0,5GB 30HARI"
                },
                "product_price": {
                  "type": "integer",
                  "example": 5200
                },
                "member_price": {
                  "type": "integer",
                  "example": 5200
                },
                "base_price": {
                  "type": "string",
                  "example": "4505.00"
                }
              }
            }
          }
        },
        "required": [
          "message",
          "data_options"
        ]
      },
      "PulsaDetailsRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string",
            "description": "Device identifier"
          },
          "phone_number": {
            "type": "string",
            "description": "Nomor HP pelanggan",
            "example": "08125520208"
          }
        },
        "required": [
          "device_id",
          "phone_number"
        ]
      },
      "PulsaDetailsResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "provider": {
            "type": "string",
            "description": "Operator (Telkomsel, Indosat, XL, dll)",
            "example": "TELKOMSEL"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "example": "http://v2.mitraindogrosir.co.id/images/logo_providers/TELKOMSEL.png"
          },
          "pulsa": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 979
                },
                "plu": {
                  "type": "string",
                  "example": "223316077"
                },
                "igr_plu": {
                  "type": "string",
                  "example": "1958140"
                },
                "base_price": {
                  "type": "number",
                  "description": "Harga dasar (number in v2)",
                  "example": 50600
                },
                "vendor_price": {
                  "type": "number",
                  "example": 44964
                },
                "description": {
                  "type": "string",
                  "example": "TELKOMSEL 50.000,-\nMasa Aktif 45 Hari"
                },
                "is_trouble": {
                  "type": "integer",
                  "example": 0
                },
                "promo_id": {
                  "type": "integer",
                  "example": 496
                },
                "nominal_cut_price": {
                  "type": "number",
                  "example": 3000
                },
                "last_price": {
                  "type": "number",
                  "example": 47600
                },
                "percentage": {
                  "type": "number",
                  "example": 6
                }
              }
            }
          },
          "data": {
            "type": "array",
            "description": "Daftar paket data yang cocok untuk nomor tersebut.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "plu": {
                  "type": "string"
                },
                "igr_plu": {
                  "type": "string"
                },
                "base_price": {
                  "type": "number"
                },
                "vendor_price": {
                  "type": "number"
                },
                "description": {
                  "type": "string"
                },
                "is_trouble": {
                  "type": "integer"
                },
                "promo_id": {
                  "type": "integer",
                  "nullable": true
                },
                "nominal_cut_price": {
                  "type": "number",
                  "nullable": true
                },
                "last_price": {
                  "type": "number",
                  "nullable": true
                },
                "percentage": {
                  "type": "number",
                  "nullable": true
                }
              }
            }
          },
          "flag_pin": {
            "type": "string",
            "description": "Flag dari backend yang menandakan transaksi kemungkinan membutuhkan PIN konfirmasi.",
            "enum": [
              "Y",
              "N"
            ],
            "example": "Y"
          }
        },
        "required": [
          "message",
          "provider",
          "pulsa"
        ]
      },
      "PulsaTopupRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "product_code": {
            "type": "string"
          },
          "pin": {
            "type": "string",
            "description": "PIN transaksi Mitra. Biasanya relevan saat `flag_pin` dari `/pulsa/v2/get-details` bernilai `Y`."
          }
        },
        "required": [
          "device_id",
          "phone_number",
          "product_code"
        ]
      },
      "PulsaTopupResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "trx_id": {
                "type": "string"
              },
              "ref_id": {
                "type": "string"
              },
              "phone_number": {
                "type": "string"
              },
              "product_code": {
                "type": "string"
              },
              "product_name": {
                "type": "string"
              },
              "serial_number": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "selling_price": {
                "type": "number"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "EmoneyDenomResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "emoney": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 1
                },
                "denom": {
                  "type": "string",
                  "description": "Denominasi sebagai string",
                  "example": "20000.00"
                }
              }
            }
          }
        },
        "required": [
          "message",
          "emoney"
        ]
      },
      "PaymentPointSubMenuResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "sub_menu": {
            "type": "array",
            "description": "Sub-menu layanan: Indihome, XL Home, FIF, cicilan kredit, TV Cable, Telkom, pajak PBB, dll",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 1111
                },
                "payment_point_group_id": {
                  "type": "integer",
                  "example": 6
                },
                "plu": {
                  "type": "string",
                  "example": "123001200"
                },
                "igr_plu": {
                  "type": "string",
                  "example": "1644800"
                },
                "merchant": {
                  "type": "string",
                  "example": "ACC Finance"
                },
                "description": {
                  "type": "string",
                  "example": "ACC Finance"
                },
                "input_amt": {
                  "type": "integer",
                  "description": "Whether amount input is required",
                  "example": 1
                },
                "is_trouble": {
                  "type": "integer",
                  "example": 2
                },
                "label": {
                  "type": "string",
                  "example": "Kode Pembayaran"
                },
                "path_icon": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        },
        "required": [
          "message",
          "sub_menu"
        ]
      },
      "PaymentPointInquiryRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string",
            "description": "Nomor pelanggan"
          },
          "payment_point_group_id": {
            "type": "integer",
            "description": "ID grup layanan dari get-sub-menu"
          },
          "product_code": {
            "type": "string"
          }
        },
        "required": [
          "device_id",
          "customer_id",
          "payment_point_group_id"
        ]
      },
      "PaymentPointInquiryResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "inquiry_id": {
                "type": "string"
              },
              "customer_id": {
                "type": "string"
              },
              "customer_name": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "admin_fee": {
                "type": "number"
              },
              "total_amount": {
                "type": "number"
              },
              "period": {
                "type": "string"
              },
              "payment_code": {
                "type": "string"
              },
              "id_payment_code": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "TransferInquiryRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string"
          },
          "channel_id": {
            "type": "string",
            "description": "ID channel dari channel-group"
          },
          "nomor_rekening": {
            "type": "string",
            "description": "Nomor rekening tujuan"
          },
          "amount": {
            "type": "number",
            "description": "Jumlah transfer"
          },
          "channel_name": {
            "type": "string",
            "description": "Nama channel/bank"
          },
          "deskripsi": {
            "type": "string",
            "description": "Keterangan transfer"
          },
          "nama_pengirim": {
            "type": "string",
            "description": "Nama pengirim"
          },
          "notelp_pengirim": {
            "type": "string",
            "description": "Nomor telepon pengirim"
          }
        },
        "required": [
          "device_id",
          "channel_id",
          "nomor_rekening",
          "amount",
          "channel_name",
          "deskripsi",
          "nama_pengirim",
          "notelp_pengirim"
        ]
      },
      "TransferInquiryResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "inquiry_id": {
                "type": "string"
              },
              "bank_code": {
                "type": "string"
              },
              "bank_name": {
                "type": "string"
              },
              "account_number": {
                "type": "string"
              },
              "account_name": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "admin_fee": {
                "type": "number"
              },
              "total_amount": {
                "type": "number"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "ChannelGroupResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "channelAmount": {
            "type": "integer",
            "description": "Jumlah total channel yang tersedia.",
            "example": 166
          },
          "channelList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "channel": {
                  "type": "string",
                  "example": "BANK ACEH SYARIAH"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "channel_id": {
                        "type": "string",
                        "example": "116"
                      },
                      "product_id": {
                        "type": "integer",
                        "example": 2
                      },
                      "type": {
                        "type": "string",
                        "example": "BIFAST"
                      },
                      "fee": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "message",
          "channelAmount",
          "channelList"
        ]
      },
      "VoucherGroupResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "group_list": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 4
                },
                "group": {
                  "type": "string",
                  "example": "INDOSAT"
                },
                "icon": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://content-mitra-prd.mitraindogrosir.co.id/menus/voucher-fisik/indosat.png"
                }
              }
            }
          }
        },
        "required": [
          "message",
          "group_list"
        ]
      },
      "GenericPaymentRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string"
          },
          "inquiry_id": {
            "type": "string",
            "description": "ID dari hasil inquiry"
          },
          "customer_id": {
            "type": "string"
          },
          "product_code": {
            "type": "string"
          },
          "payment_code": {
            "type": "string"
          },
          "pin": {
            "type": "string",
            "description": "PIN transaksi Mitra. Reverse engineering dan perilaku app menunjukkan field ini sering dibutuhkan pada endpoint payment/topup tertentu."
          }
        },
        "required": [
          "device_id",
          "inquiry_id"
        ]
      },
      "GenericPaymentResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "trx_id": {
                "type": "string"
              },
              "ref_id": {
                "type": "string"
              },
              "customer_id": {
                "type": "string"
              },
              "customer_name": {
                "type": "string"
              },
              "serial_number": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "admin_fee": {
                "type": "number"
              },
              "total_amount": {
                "type": "number"
              },
              "selling_price": {
                "type": "number"
              },
              "approval_code": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "GenericAdviceRequest": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string"
          },
          "trx_id": {
            "type": "string",
            "description": "ID transaksi dari hasil payment"
          }
        },
        "required": [
          "device_id",
          "trx_id"
        ]
      },
      "DeviceOnlyRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string",
            "description": "Device ID dari app Mitra."
          }
        },
        "type": "object"
      },
      "ComplaintCreateRequest": {
        "required": [
          "device_id",
          "trx_id",
          "complaint_type",
          "description"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "trx_id": {
            "type": "string",
            "description": "ID transaksi yang dikomplain."
          },
          "complaint_type": {
            "type": "string",
            "description": "Kategori komplain."
          },
          "description": {
            "type": "string",
            "description": "Deskripsi komplain."
          },
          "attachment_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        },
        "type": "object"
      },
      "ComplaintHistoryResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "complaints": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "InboxUpdateRequest": {
        "required": [
          "device_id",
          "inbox_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "inbox_id": {
            "type": "string",
            "description": "ID notifikasi/inbox."
          },
          "status": {
            "type": "string",
            "description": "Status update, misalnya read/unread."
          }
        },
        "type": "object"
      },
      "InboxListResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "count_inbox": {
            "type": "string",
            "nullable": true
          },
          "inbox": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "PasswordUpdateRequest": {
        "required": [
          "device_id",
          "current_password",
          "new_password"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "current_password": {
            "type": "string"
          },
          "new_password": {
            "type": "string"
          },
          "confirm_password": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PasswordRotpResetRequest": {
        "required": [
          "phone_number",
          "otp",
          "new_password"
        ],
        "properties": {
          "phone_number": {
            "type": "string"
          },
          "otp": {
            "type": "string"
          },
          "new_password": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateStoreNameRequest": {
        "required": [
          "device_id",
          "store_name"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "store_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "UserProfileResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string",
                "nullable": true
              },
              "store_name": {
                "type": "string",
                "nullable": true
              },
              "phone_number": {
                "type": "string",
                "nullable": true
              },
              "member_code": {
                "type": "string",
                "nullable": true
              },
              "verification_status": {
                "type": "string",
                "nullable": true
              }
            },
            "additionalProperties": true
          }
        },
        "type": "object"
      },
      "UserVaResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "bank": {
                "type": "string",
                "nullable": true
              },
              "va_number": {
                "type": "string",
                "nullable": true
              }
            },
            "additionalProperties": true
          }
        },
        "type": "object"
      },
      "UserSummaryResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "type": "object"
      },
      "FavoriteTransactionsResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "TopupCreatePaymentCodeRequest": {
        "required": [
          "device_id",
          "amount"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "description": "Nominal topup saldo."
          },
          "merchant_id": {
            "type": "string",
            "nullable": true
          },
          "payment_type": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "TopupCreatePaymentCodeResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "payment_code": {
                "type": "string"
              },
              "merchant": {
                "type": "string",
                "nullable": true
              },
              "amount": {
                "type": "number",
                "nullable": true
              },
              "expired_at": {
                "type": "string",
                "nullable": true
              },
              "qr_string": {
                "type": "string",
                "nullable": true
              }
            },
            "additionalProperties": true
          }
        },
        "type": "object"
      },
      "TopupMerchantListResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "merchants": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "TopupHistoryResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "PromoDetailRequest": {
        "required": [
          "device_id",
          "encrypted_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "encrypted_id": {
            "type": "string",
            "description": "Encrypted promo id."
          }
        },
        "type": "object"
      },
      "PromoListResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "promos": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "PromoDetailResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "type": "object"
      },
      "VoucherPriceListRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "group_id": {
            "type": "integer",
            "nullable": true
          },
          "provider": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "VoucherPriceListResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "vouchers": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "VoucherCatalogMaintenanceRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "voucher_prepaid_product_id": {
            "type": "string",
            "nullable": true
          },
          "selling_price": {
            "type": "number",
            "nullable": true
          }
        },
        "type": "object"
      },
      "UnipinVoucherListRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "UnipinVoucherListResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "vouchers": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "UnipinTopupRequest": {
        "required": [
          "device_id",
          "customer_id",
          "product_code"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "product_code": {
            "type": "string"
          },
          "pin": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "UnipinMaintenanceRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string",
            "nullable": true
          },
          "selling_price": {
            "type": "number",
            "nullable": true
          }
        },
        "type": "object"
      },
      "EmoneyProductListResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "EmoneyBalanceOperationRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "inquiry_id": {
            "type": "string",
            "nullable": true
          },
          "card_number": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "number",
            "nullable": true
          },
          "payment_code": {
            "type": "string",
            "nullable": true
          },
          "product_code": {
            "type": "string",
            "nullable": true
          },
          "serial_number": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "EmoneyBalanceOperationResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "type": "object"
      },
      "EwalletProductListResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "EwalletDenomRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "product_id": {
            "type": "integer",
            "nullable": true
          }
        },
        "type": "object"
      },
      "EwalletInquiryRequest": {
        "required": [
          "device_id",
          "customer_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "product_code": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "nullable": true
          }
        },
        "type": "object"
      },
      "TravelLookupRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "origin_code": {
            "type": "string",
            "nullable": true
          },
          "destination_code": {
            "type": "string",
            "nullable": true
          },
          "formatted_date": {
            "type": "string",
            "nullable": true
          },
          "dep_date_begin": {
            "type": "string",
            "nullable": true
          },
          "dep_date_end": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "TravelLookupResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "TravelScheduleRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "origin_code": {
            "type": "string",
            "nullable": true
          },
          "destination_code": {
            "type": "string",
            "nullable": true
          },
          "formatted_date": {
            "type": "string",
            "nullable": true
          },
          "passenger_count": {
            "type": "integer",
            "nullable": true
          }
        },
        "type": "object"
      },
      "TravelScheduleResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "schedules": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "type": "object"
      },
      "TravelSeatMapRequest": {
        "required": [
          "device_id",
          "schedule_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "schedule_id": {
            "type": "string"
          },
          "origin_code": {
            "type": "string",
            "nullable": true
          },
          "destination_code": {
            "type": "string",
            "nullable": true
          },
          "formatted_date": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "TravelSeatMapResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "seat_map": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "type": "object"
      },
      "TravelBookingRequest": {
        "required": [
          "device_id",
          "schedule_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "schedule_id": {
            "type": "string"
          },
          "passenger_name": {
            "type": "string",
            "nullable": true
          },
          "phone_number": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "seats": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "type": "object"
      },
      "TravelBookingResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "booking_id": {
                "type": "string",
                "nullable": true
              },
              "payment_code": {
                "type": "string",
                "nullable": true
              },
              "total_amount": {
                "type": "number",
                "nullable": true
              },
              "status": {
                "type": "string",
                "nullable": true
              }
            },
            "additionalProperties": true
          }
        },
        "type": "object"
      },
      "TravelCancelRequest": {
        "required": [
          "device_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "booking_id": {
            "type": "string",
            "nullable": true
          },
          "inquiry_id": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "HistoryPaymentDetailRequest": {
        "required": [
          "device_id",
          "trx_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "trx_id": {
            "type": "string",
            "description": "ID transaksi yang ingin dilihat detailnya."
          }
        },
        "type": "object"
      },
      "HistoryPaymentDetailResponse": {
        "additionalProperties": true,
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "type": "object"
      },
      "HistoryPaymentAdjustRequest": {
        "required": [
          "device_id",
          "trx_id"
        ],
        "properties": {
          "device_id": {
            "type": "string"
          },
          "trx_id": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      }
    }
  },
  "paths": {
    "/whatsapp/otp/request": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request OTP via WhatsApp",
        "description": "Mengirim kode OTP ke nomor WhatsApp terdaftar sebagai mitra",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtpRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP terkirim",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/whatsapp/otp/check": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify OTP dan login",
        "description": "Verifikasi kode OTP dan mendapatkan access token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtpCheckBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login berhasil, return tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/whatsapp/otp/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset password via OTP",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtpRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-menu-saldo": {
      "post": {
        "tags": [
          "Saldo"
        ],
        "summary": "Cek saldo deposit mitra",
        "description": "Mendapatkan saldo/balance deposit mitra, menu layanan, promo, status produk, dan info versi",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string",
                    "description": "Device identifier"
                  }
                },
                "required": [
                  "device_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saldo dan menu mitra",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuSaldoResponse"
                },
                "example": {
                  "message": "OK",
                  "flag_member": "MM",
                  "detail_member": {
                    "username": "TANTI YANA SARI (DAHLIA LAUNDRY) #",
                    "is_omi": 0,
                    "store_name": "CAHAYA513 MM"
                  },
                  "saldo": 782755.25,
                  "menu": [
                    {
                      "name": "Payment Point",
                      "list_menu": [
                        {
                          "id": 1,
                          "group": "E-Commerce (Belanja Online)",
                          "image_url": "https://static-content-mitra.s3.ap-southeast-1.amazonaws.com/menus/e_commerce.svg",
                          "path_icon": "http://v2.mitraindogrosir.co.id/images/pp/1.png"
                        },
                        {
                          "id": 2,
                          "group": "Education (Pendidikan)",
                          "image_url": "https://static-content-mitra.s3.ap-southeast-1.amazonaws.com/menus/education.svg",
                          "path_icon": "http://v2.mitraindogrosir.co.id/images/pp/2.png"
                        },
                        {
                          "id": 3,
                          "group": "Insurance (Premi Asuransi, Dana Pensiun)",
                          "image_url": "https://static-content-mitra.s3.ap-southeast-1.amazonaws.com/menus/insurance.svg",
                          "path_icon": "http://v2.mitraindogrosir.co.id/images/pp/3.png"
                        },
                        {
                          "id": 5,
                          "group": "Membership (Keanggotaan)",
                          "image_url": "https://static-content-mitra.s3.ap-southeast-1.amazonaws.com/menus/membership.svg",
                          "path_icon": "http://v2.mitraindogrosir.co.id/images/pp/5.png"
                        },
                        {
                          "id": 6,
                          "group": "Multi finance (Angsuran / Kredit)",
                          "image_url": "https://static-content-mitra.s3.ap-southeast-1.amazonaws.com/menus/multi_finance.svg",
                          "path_icon": "http://v2.mitraindogrosir.co.id/images/pp/6.png"
                        },
                        {
                          "id": 7,
                          "group": "Public Utility (Telepon, Handphone, Pajak)",
                          "image_url": "https://static-content-mitra.s3.ap-southeast-1.amazonaws.com/menus/public_utility.svg",
                          "path_icon": "http://v2.mitraindogrosir.co.id/images/pp/7.png"
                        },
                        {
                          "id": 8,
                          "group": "Transportation (Kereta, Bus, Pesawat, Kapal)",
                          "image_url": "https://static-content-mitra.s3.ap-southeast-1.amazonaws.com/menus/transportation.svg",
                          "path_icon": "http://v2.mitraindogrosir.co.id/images/pp/8.png"
                        },
                        {
                          "id": 17,
                          "group": "Voucher",
                          "image_url": "https://static-content-mitra.s3.ap-southeast-1.amazonaws.com/menus/voucher.svg",
                          "path_icon": "http://v2.mitraindogrosir.co.id/images/pp/17.png"
                        },
                        {
                          "id": 33,
                          "group": "Internet-TV Cable (Internet, TV Berlangganan)",
                          "image_url": "https://static-content-mitra.s3.ap-southeast-1.amazonaws.com/menus/tv_cable_internet.svg",
                          "path_icon": "http://v2.mitraindogrosir.co.id/images/pp/33.png"
                        }
                      ]
                    }
                  ],
                  "promo": [
                    {
                      "image": "http://v2.mitraindogrosir.co.id/storage/images/promo/default_banner_2.png",
                      "periode_start": "",
                      "periode_end": "",
                      "title": "",
                      "encrypted_id": "",
                      "description": ""
                    }
                  ],
                  "status_product": [
                    {
                      "product": "PLN",
                      "is_trouble": 0
                    },
                    {
                      "product": "PDAM",
                      "is_trouble": 0
                    },
                    {
                      "product": "BPJS",
                      "is_trouble": 0
                    }
                  ],
                  "count_inbox": "2124",
                  "version": {
                    "version": "7.3",
                    "url": "https://play.google.com/store/apps/details?id=com.indogrosir.sd1.paymentpoint"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthenticatedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pulsa/get-providers": {
      "get": {
        "tags": [
          "Pulsa & Paket Data"
        ],
        "summary": "Daftar provider/operator seluler",
        "description": "Mendapatkan daftar operator: Telkomsel, Indosat, XL, Three, Smartfren, dll",
        "responses": {
          "200": {
            "description": "Daftar provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PulsaProvidersResponse"
                },
                "example": {
                  "message": "OK",
                  "providers": [
                    {
                      "uid": "eyJpdiI6IjBEblJvWWxyR1Y5R2VrTUM4eGVRK2c9PSIsInZhbHVlIjoiQnNYRTlmOXU3Q1E3WWU2b1k3Z0orQT09IiwibWFjIjoiOTI1NjI4OWUyYmJiYmIwOGQ1NDczYThlZjc2NDU0NDU1YTRkYzA2NmI4NjkxZTE0YmE5M2MwYjlkNDBiNGI4NyJ9",
                      "provider": "XL",
                      "image": "http://v2.mitraindogrosir.co.id/images/logo_providers/XL.png"
                    },
                    {
                      "uid": "eyJpdiI6ImZDVkQyRHZ4OVpYSFlcL21PRDUwOHNBPT0iLCJ2YWx1ZSI6ImV0QVBDUk82ZmRUSE9PRWRMK0dzNEE9PSIsIm1hYyI6ImI0NjRhZDA4YzcxYTVjMzZhZDg5MmQxNmNjZjVmZjNkMzY2YmIxZjlkOTdlOTQwN2E2MDNmZjgxYzU1MmJlMmMifQ==",
                      "provider": "SMARTFREN",
                      "image": "http://v2.mitraindogrosir.co.id/images/logo_providers/SMARTFREN.png"
                    },
                    {
                      "uid": "eyJpdiI6Inp2WUpLMUZLUkcwYW5TVjZRd0k2c0E9PSIsInZhbHVlIjoiSTlSNjVRMlRUZ1wvc2d1aUdHSWYrOGc9PSIsIm1hYyI6IjQzOTgyODc0OWZjN2JjMjRkZmI5N2QzOWFmODY0ZWVhM2ExOWU4NTFlODUyMzY4Zjg3MDFkZDRmZDBlMzc3YmMifQ==",
                      "provider": "TELKOMSEL",
                      "image": "http://v2.mitraindogrosir.co.id/images/logo_providers/TELKOMSEL.png"
                    },
                    {
                      "uid": "eyJpdiI6Ink1aXNsN29UN3BYSmZzd1luSlhkRVE9PSIsInZhbHVlIjoiWjgwV1RyNTZ1bEZBMGdBUk0rc3VQQT09IiwibWFjIjoiOGU5YzJiYjE4YzkwYTRiNjkwYWZhMzMyODY0Njk4OTBiZmEyNGJiY2ZmZDE2NDZiNDkyOTkzNTFjMGQxNjExNiJ9",
                      "provider": "INDOSAT",
                      "image": "http://v2.mitraindogrosir.co.id/images/logo_providers/INDOSAT.png"
                    },
                    {
                      "uid": "eyJpdiI6InlCMWZrUmROSU5CRmxuMk02OG1YZnc9PSIsInZhbHVlIjoiNlY2QkVqYXpoWnVoelpjQkRaNGNjQT09IiwibWFjIjoiMThlNWM3Y2EzYzM4MzFkM2NjOGQzZTAxODEyZWViYjYxYzNlYWY2MDRhOGM2MDkwMWYwMTU5YWQ1ZGNiZDI2ZiJ9",
                      "provider": "AXIS",
                      "image": "http://v2.mitraindogrosir.co.id/images/logo_providers/AXIS.png"
                    },
                    {
                      "uid": "eyJpdiI6Ims4NFB6WFlJVW1YNkxLd1RGTGpyaFE9PSIsInZhbHVlIjoic0NTTGRZTTBXS2FuTHErNk8zeFhHUT09IiwibWFjIjoiNDEzNmJjOGUxZjVmMThlNGRiYzFhMWU4MTVkNzUxZTQzOGVmMzBlN2EzZGNkMGM2Yzg4NjI1NTIxNWJhOThiZiJ9",
                      "provider": "3",
                      "image": "http://v2.mitraindogrosir.co.id/images/logo_providers/3.png"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthenticatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pulsa/get-pulsa-price-list": {
      "post": {
        "tags": [
          "Pulsa & Paket Data"
        ],
        "summary": "Daftar harga pulsa",
        "description": "Mendapatkan price list produk pulsa per operator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "provider_uid": {
                    "type": "string",
                    "description": "Encrypted provider UID dari get-providers"
                  }
                },
                "required": [
                  "device_id",
                  "provider_uid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price list pulsa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PulsaPriceListResponse"
                },
                "example": {
                  "message": "OK",
                  "pulsa_options": [
                    {
                      "pulsa_product_id": 315,
                      "plu": "222900691",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS VELECTRIC 5.000,- 7HARI BTKP PCS",
                      "product_price": 6100,
                      "member_price": 7000,
                      "base_price": "5283.00"
                    },
                    {
                      "pulsa_product_id": 316,
                      "plu": "222900692",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS VELECTRIC 10.000,- 20HARI BTKP PCS",
                      "product_price": 11100,
                      "member_price": 12000,
                      "base_price": "9777.00"
                    },
                    {
                      "pulsa_product_id": 317,
                      "plu": "222900693",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS VELECTRIC 15.000,- 20HARI BTKP PCS",
                      "product_price": 15200,
                      "member_price": 17000,
                      "base_price": "13509.00"
                    },
                    {
                      "pulsa_product_id": 632,
                      "plu": "222902112",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS 25.000,-\nMasa Aktif 30 Hari",
                      "product_price": 25700,
                      "member_price": 27000,
                      "base_price": "22500.00"
                    },
                    {
                      "pulsa_product_id": 318,
                      "plu": "222900694",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS VELECTRIC 30.000,- 30HARI BTKP PCS",
                      "product_price": 30700,
                      "member_price": 32000,
                      "base_price": "26995.00"
                    },
                    {
                      "pulsa_product_id": 319,
                      "plu": "222900695",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS VELECTRIC 50.000,- 45HARI BTKP PCS",
                      "product_price": 50600,
                      "member_price": 52000,
                      "base_price": "44977.00"
                    },
                    {
                      "pulsa_product_id": 320,
                      "plu": "222900696",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS VELECTRIC 100.000,- 120HARI BTKP PCS",
                      "product_price": 100900,
                      "member_price": 100900,
                      "base_price": "89932.00"
                    },
                    {
                      "pulsa_product_id": 321,
                      "plu": "222900697",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS VELECTRIC 200.000,- 120HARI BTKP PCS",
                      "product_price": 200700,
                      "member_price": 200700,
                      "base_price": "179842.00"
                    },
                    {
                      "pulsa_product_id": 322,
                      "plu": "222900698",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS VELECTRIC 300.000,- 180HARI BTKP PCS",
                      "product_price": 300500,
                      "member_price": 300500,
                      "base_price": "269752.00"
                    },
                    {
                      "pulsa_product_id": 323,
                      "plu": "222900699",
                      "provider": "XL",
                      "type": "PULSA",
                      "description": "XL/AXIS VELECTRIC 500.000,- 240HARI BTKP PCS",
                      "product_price": 500100,
                      "member_price": 500100,
                      "base_price": "449572.00"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pulsa/get-data-price-list": {
      "post": {
        "tags": [
          "Pulsa & Paket Data"
        ],
        "summary": "Daftar harga paket data",
        "description": "Mendapatkan price list produk paket data/internet per operator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "provider_uid": {
                    "type": "string",
                    "description": "Encrypted provider UID dari get-providers"
                  }
                },
                "required": [
                  "device_id",
                  "provider_uid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price list paket data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPriceListResponse"
                },
                "example": {
                  "message": "OK",
                  "data_options": [
                    {
                      "pulsa_product_id": 1021,
                      "plu": "222931771",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 0,5GB 30HARI",
                      "product_price": 5200,
                      "member_price": 5200,
                      "base_price": "4505.00"
                    },
                    {
                      "pulsa_product_id": 1145,
                      "plu": "222932144",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET HARIAN 4.5GB 5HR + LOKAL",
                      "product_price": 15500,
                      "member_price": 15500,
                      "base_price": "13756.00"
                    },
                    {
                      "pulsa_product_id": 1145,
                      "plu": "222932144",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET HARIAN 4.5GB 5HR + LOKAL",
                      "product_price": 15500,
                      "member_price": 15500,
                      "base_price": "13756.00"
                    },
                    {
                      "pulsa_product_id": 1144,
                      "plu": "222932143",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL/AXIS PAKET HARIAN 11GB 3HR + LOKAL",
                      "product_price": 15600,
                      "member_price": 15600,
                      "base_price": "13838.00"
                    },
                    {
                      "pulsa_product_id": 1144,
                      "plu": "222932143",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL/AXIS PAKET HARIAN 11GB 3HR + LOKAL",
                      "product_price": 15600,
                      "member_price": 15600,
                      "base_price": "13838.00"
                    },
                    {
                      "pulsa_product_id": 1146,
                      "plu": "222932145",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET HARIAN 5GB 5HR + LOKAL",
                      "product_price": 16900,
                      "member_price": 16900,
                      "base_price": "15038.00"
                    },
                    {
                      "pulsa_product_id": 1146,
                      "plu": "222932145",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET HARIAN 5GB 5HR + LOKAL",
                      "product_price": 16900,
                      "member_price": 16900,
                      "base_price": "15038.00"
                    },
                    {
                      "pulsa_product_id": 1147,
                      "plu": "222932146",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL/AXIS PAKET HARIAN 8.5GB 5HARI + LOKAL",
                      "product_price": 22600,
                      "member_price": 22100,
                      "base_price": "19736.00"
                    },
                    {
                      "pulsa_product_id": 1147,
                      "plu": "222932146",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL/AXIS PAKET HARIAN 8.5GB 5HARI + LOKAL",
                      "product_price": 22600,
                      "member_price": 22600,
                      "base_price": "19736.00"
                    },
                    {
                      "pulsa_product_id": 1024,
                      "plu": "222931774",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 3GB 30HARI",
                      "product_price": 26300,
                      "member_price": 26300,
                      "base_price": "23063.00"
                    },
                    {
                      "pulsa_product_id": 1148,
                      "plu": "222932147",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL/AXIS PAKET HARIAN 14GB 5HARI + LOKAL",
                      "product_price": 27300,
                      "member_price": 26800,
                      "base_price": "24006.00"
                    },
                    {
                      "pulsa_product_id": 1148,
                      "plu": "222932147",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL/AXIS PAKET HARIAN 14GB 5HARI + LOKAL",
                      "product_price": 27300,
                      "member_price": 27300,
                      "base_price": "24006.00"
                    },
                    {
                      "pulsa_product_id": 1025,
                      "plu": "222931775",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 4GB 30HARI",
                      "product_price": 34800,
                      "member_price": 34900,
                      "base_price": "30721.00"
                    },
                    {
                      "pulsa_product_id": 1296,
                      "plu": "222932458",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA FLEX 7GB, 28HR",
                      "product_price": 34900,
                      "member_price": 34900,
                      "base_price": "30840.00"
                    },
                    {
                      "pulsa_product_id": 1149,
                      "plu": "222932148",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL/AXIS PAKET HARIAN 24.5GB 7HARI + LOKAL",
                      "product_price": 43700,
                      "member_price": 43200,
                      "base_price": "38759.00"
                    },
                    {
                      "pulsa_product_id": 1149,
                      "plu": "222932148",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL/AXIS PAKET HARIAN 24.5GB 7HARI + LOKAL",
                      "product_price": 43700,
                      "member_price": 43700,
                      "base_price": "38759.00"
                    },
                    {
                      "pulsa_product_id": 1026,
                      "plu": "222931776",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 5GB 30HARI",
                      "product_price": 43800,
                      "member_price": 43900,
                      "base_price": "38818.00"
                    },
                    {
                      "pulsa_product_id": 1297,
                      "plu": "222932459",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA FLEX 13GB, 28HR",
                      "product_price": 49200,
                      "member_price": 49200,
                      "base_price": "43651.00"
                    },
                    {
                      "pulsa_product_id": 1082,
                      "plu": "222931871",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 6GB 30HR",
                      "product_price": 52800,
                      "member_price": 52800,
                      "base_price": "46937.00"
                    },
                    {
                      "pulsa_product_id": 1082,
                      "plu": "222931871",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 6GB 30HR",
                      "product_price": 52800,
                      "member_price": 52300,
                      "base_price": "46937.00"
                    },
                    {
                      "pulsa_product_id": 324,
                      "plu": "222900700",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL DATA INTERNET XT COMBO 5+5GB 30HR BTKP PCS",
                      "product_price": 56700,
                      "member_price": 59000,
                      "base_price": "50485.00"
                    },
                    {
                      "pulsa_product_id": 1298,
                      "plu": "222932460",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA FLEX 19GB, 28HR",
                      "product_price": 58600,
                      "member_price": 58600,
                      "base_price": "52193.00"
                    },
                    {
                      "pulsa_product_id": 1083,
                      "plu": "222931872",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 7GB 30HARI ",
                      "product_price": 61300,
                      "member_price": 61400,
                      "base_price": "54595.00"
                    },
                    {
                      "pulsa_product_id": 1083,
                      "plu": "222931872",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 7GB 30HARI ",
                      "product_price": 61300,
                      "member_price": 61400,
                      "base_price": "54595.00"
                    },
                    {
                      "pulsa_product_id": 1299,
                      "plu": "222932461",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA FLEX 26GB, 28HR",
                      "product_price": 68100,
                      "member_price": 68100,
                      "base_price": "60734.00"
                    },
                    {
                      "pulsa_product_id": 1084,
                      "plu": "222931873",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 8GB 30HARI ",
                      "product_price": 71300,
                      "member_price": 71500,
                      "base_price": "63604.00"
                    },
                    {
                      "pulsa_product_id": 1084,
                      "plu": "222931873",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 8GB 30HARI ",
                      "product_price": 71300,
                      "member_price": 71500,
                      "base_price": "63604.00"
                    },
                    {
                      "pulsa_product_id": 1085,
                      "plu": "222931874",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 9GB 30HARI ",
                      "product_price": 79600,
                      "member_price": 79600,
                      "base_price": "70811.00"
                    },
                    {
                      "pulsa_product_id": 325,
                      "plu": "222900701",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL DATA INTERNET XT COMBO 10+10GB 30HR BTKP PCS",
                      "product_price": 85500,
                      "member_price": 89000,
                      "base_price": "76109.00"
                    },
                    {
                      "pulsa_product_id": 1086,
                      "plu": "222931875",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL PAKET DATA 10GB 30HARI ",
                      "product_price": 88100,
                      "member_price": 88100,
                      "base_price": "78468.00"
                    },
                    {
                      "pulsa_product_id": 333,
                      "plu": "222900709",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "AXIS INET AIGO BRONT 24JAM30GB+LKL 28HARI PCS",
                      "product_price": 91200,
                      "member_price": 91200,
                      "base_price": "81234.00"
                    },
                    {
                      "pulsa_product_id": 657,
                      "plu": "222914590",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL AKRAB 25GB | 30 Hari",
                      "product_price": 118900,
                      "member_price": 118900,
                      "base_price": "106184.00"
                    },
                    {
                      "pulsa_product_id": 326,
                      "plu": "222900702",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL DATA INTERNET XT COMBO 15+15GB 30HR BTKP PCS",
                      "product_price": 123500,
                      "member_price": 129000,
                      "base_price": "110275.00"
                    },
                    {
                      "pulsa_product_id": 327,
                      "plu": "222900703",
                      "provider": "XL",
                      "type": "DATA",
                      "description": "XL DATA INTERNET XT COMBO 20+20GB 30HR BTKP PCS",
                      "product_price": 170900,
                      "member_price": 179000,
                      "base_price": "152981.00"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pulsa/v2/get-details": {
      "post": {
        "tags": [
          "Pulsa & Paket Data"
        ],
        "summary": "Detail produk pulsa/data berdasarkan nomor HP",
        "description": "Auto-detect operator dari nomor HP dan return produk yang tersedia",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PulsaDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail produk untuk nomor tersebut",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PulsaDetailsResponse"
                },
                "example": {
                  "message": "OK",
                  "provider": "TELKOMSEL",
                  "image": "http://v2.mitraindogrosir.co.id/images/logo_providers/TELKOMSEL.png",
                  "pulsa": [
                    {
                      "id": 979,
                      "plu": "223316077",
                      "igr_plu": "1958140",
                      "base_price": 50600,
                      "vendor_price": 44964,
                      "description": "TELKOMSEL 50.000,-\nMasa Aktif 45 Hari",
                      "is_trouble": 0,
                      "promo_id": 496,
                      "nominal_cut_price": 3000,
                      "last_price": 47600,
                      "percentage": 6
                    },
                    {
                      "id": 933,
                      "plu": "223315493",
                      "igr_plu": "1421330",
                      "base_price": 73700,
                      "vendor_price": 65775,
                      "description": "TELKOMSEL 75.000,-\nMasa Aktif 45 Hari",
                      "is_trouble": 0,
                      "promo_id": 496,
                      "nominal_cut_price": 3000,
                      "last_price": 70700,
                      "percentage": 5
                    },
                    {
                      "id": 867,
                      "plu": "223315243",
                      "igr_plu": "1487160",
                      "base_price": 99900,
                      "vendor_price": 89018,
                      "description": "TELKOMSEL 100.000,-\nMasa Aktif 60 Hari",
                      "is_trouble": 0,
                      "promo_id": 496,
                      "nominal_cut_price": 3000,
                      "last_price": 96900,
                      "percentage": 4
                    },
                    {
                      "id": 935,
                      "plu": "223315495",
                      "igr_plu": "1421350",
                      "base_price": 149700,
                      "vendor_price": 133950,
                      "description": "TELKOMSEL 150.000,-\nMasa Aktif 120 Hari",
                      "is_trouble": 0,
                      "promo_id": 496,
                      "nominal_cut_price": 3000,
                      "last_price": 146700,
                      "percentage": 3
                    },
                    {
                      "id": 869,
                      "plu": "223315245",
                      "igr_plu": "1487130",
                      "base_price": 199300,
                      "vendor_price": 178613,
                      "description": "TELKOMSEL 200.000,-\nMasa Aktif 150 Hari",
                      "is_trouble": 0,
                      "promo_id": 496,
                      "nominal_cut_price": 3000,
                      "last_price": 196300,
                      "percentage": 2
                    },
                    {
                      "id": 909,
                      "plu": "223315446",
                      "igr_plu": "1540480",
                      "base_price": 299500,
                      "vendor_price": 268847,
                      "description": "TELKOMSEL 300.000,- Masa Aktif 180 Hari",
                      "is_trouble": 0,
                      "promo_id": 496,
                      "nominal_cut_price": 3000,
                      "last_price": 296500,
                      "percentage": 2
                    },
                    {
                      "id": 871,
                      "plu": "223315247",
                      "igr_plu": "1487090",
                      "base_price": 496300,
                      "vendor_price": 446180,
                      "description": "TELKOMSEL 500.000,-\nMasa Aktif 240 Hari",
                      "is_trouble": 0,
                      "promo_id": 496,
                      "nominal_cut_price": 3000,
                      "last_price": 493300,
                      "percentage": 1
                    },
                    {
                      "id": 859,
                      "plu": "223315235",
                      "igr_plu": "1487080",
                      "base_price": 5500,
                      "vendor_price": 4730,
                      "description": "TELKOMSEL 5.000,- Masa Aktif 7 Hari",
                      "is_trouble": 0,
                      "promo_id": null,
                      "nominal_cut_price": 0,
                      "last_price": 5500,
                      "percentage": 0
                    },
                    {
                      "id": 860,
                      "plu": "223315236",
                      "igr_plu": "1487100",
                      "base_price": 10500,
                      "vendor_price": 9198,
[...]
